/*==========================================
    about
==========================================*/
.about {
    background: url('../img/about.jpg') center center no-repeat;
    background-size: cover;
    padding: 157px 0;
    position: relative;
    z-index: 2;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: $base-color;
        opacity: .65;
    }
    .about-content {
        background: $white;
        padding: 50px 50px 55px;
        border-radius: 30px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #0088ff;
            transform: rotate(-5deg);
            z-index: -1;
            border-radius: 30px;
        }
        .part-text {
            h3 {
                color: $hcolor-3;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 18px;
            }
            p {
                color: #666;
                line-height: 30px;
            }
        }
        .part-play-video {
            position: absolute;
            right: 50px;
            bottom: -40px;
        }
        .play-video {
        display: inline-block;
        position: relative;
        z-index: 2; }

        .play-video:after {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        left: 50%;
        top: 50%;
        right: 0;
        bottom: 0;
        background: #0088ff;
        border-radius: 50%;
        -webkit-animation: pulse-border 1500ms ease-out infinite;
        animation: pulse-border 1500ms ease-out infinite;
        z-index: -1; }
        .play-video a {
        font-size: 26px;
        display: table-cell;
        line-height: 0;
        padding: 0 0 0 5px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        background: #0088ff;
        color: #fff;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }

        .play-video a:hover {
        background: $white;
    color: #0088ff; }

        @-webkit-keyframes pulse-border {
        0% {
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            opacity: 1; }
        100% {
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            opacity: 0; } }

        @keyframes pulse-border {
        0% {
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            opacity: 1; }
        100% {
            -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            opacity: 0; } }
    }
}
